<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:name=".RenalCareApp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RenalCare"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.perfil.MedicationManagementActivity"
            android:exported="false"
            android:label="Gestionar Medicamentos"
            android:theme="@style/Theme.RenalCare" />

        <receiver
            android:name=".notifications.MedicationAlarmReceiver"
            android:enabled="true"
            android:exported="false" />


        <activity
            android:name=".auth.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.RenalCare">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".auth.RoleSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.RenalCare" />
        <activity
            android:name=".auth.SignupCaregiverActivity"
            android:exported="false"
            android:theme="@style/Theme.RenalCare" />
        <activity
            android:name=".auth.SignupPatientActivity"
            android:exported="false"
            android:theme="@style/Theme.RenalCare" />


        <activity
            android:name=".PacienteActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.RenalCare" />


        <activity
            android:name=".DoctorActivity"
            android:exported="false"
            android:label="Dashboard Doctor"
            android:theme="@style/Theme.RenalCare" />

        <activity
            android:name=".CuidadorActivity"
            android:exported="false"
            android:label="Dashboard Cuidador"
            android:theme="@style/Theme.RenalCare" />

    </application>

</manifest>